main {
    display: flex;
}

header {
    text-align: center;
    border: 5px double black; 
    color: #800080;
    text-shadow: #ffffff 2px 2px 2px;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2017/10/22/21/41/turmeric-2879382_960_720.jpg");
    background-size: cover;
}

#submit {
    margin-bottom: 1rem;
    margin-left: 2rem;
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 20px;
}

#submit:hover {
    box-shadow: rgb(80, 78, 78) 2px 2px 2px;
    cursor:pointer;

}

@keyframes example {
    from {background-color: rgb(245, 243, 243);}
    to {background-color: rgb(89, 207, 236);}
}

button {
    background-color: white;
    animation-name: example;
    animation-duration: 10s;
    background-repeat: repeat;
    /* padding-right: 10rem;
    border: 10px solid rgba(24, 51, 173, 0.418); */
}
.weatherbox {
    padding: 10px;
    background-color: #ffffff8f;
    border-right: 20px double rgb(104, 93, 128);
    padding-right: 5rem;
    font-size: 20px;
    text-transform: capitalize;
}
.recipes {
    padding: 10px;
    background-color: #aaadca63;
    padding-right: 10rem;
    border-right: 20px double rgb(104, 93, 128);
    font-size: 20px;
    text-transform: capitalize;
}

/* .drinks {
    background-color: rgba(24, 51, 173, 0.418);
    padding-right: 10rem;
}
.resize {
    
} */

.cold {
    background-image: repeating-linear-gradient(to bottom right, rgb(64, 60, 131), rgb(158, 235, 248), blue);
}

.headerCold {
    background-image: url("https://media3.giphy.com/media/PkaZUCdVm2c5G/giphy.gif?cid=ecf05e47p4v5v9zwmmzxs823b35448ohja3unlq8iwdzykfi&rid=giphy.gif&ct=g");
    background-size: cover;
    color: rgb(91, 124, 173);
    text-shadow: white 1px 1px;

}

.mild{
    background-image: repeating-linear-gradient(to bottom right, #b16031, rgb(242, 248, 158), rgb(255, 0, 0));
}

.headerMild {
    background-image: url("https://media.giphy.com/media/3ohs7Mss6GTDau1unu/giphy.gif");
    background-size: cover;
}

.hot {
    background-image: repeating-linear-gradient(to bottom right, #F2F4C0, #E4E978, #CAD315);
}

.headerHot {
    background-image: url("https://media.giphy.com/media/1g28Bb7svZ4L1edofy/giphy.gif");
    background-size: cover;
    color: white;
    text-shadow: black 2px 2px;
}

#city {
    width: 25%;
    margin-left: 1rem;
}

fieldset {
    font-size: 20px;
    margin-bottom: 1rem;
    border-bottom: 20px double rgb(104, 93, 128);
}
label {
    font-size: 20px;
    margin-bottom: 1rem;
}
h4 {
    text-decoration: underline;
}
/* form {
    display: flex;
    flex-direction: column;
    text-align: center;
} */