main {
    display: flex;
    flex: wrap;
}

header {
    text-align: center;
    /* border: 5px double black;  */
    color: #ffffff;
    text-shadow: #ad5401 2px 2px 2px;
}

body {
    background-image: url('./fern-1250903_1920.jpg');
    background-size: cover;

}

/* #sub-title {
   font-weight: 700;
   margin-left: 1rem;
} */

/* #submit {
    margin-bottom: 1rem;
    margin-left: 2rem;
    padding: 0.5rem;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    justify-content: center;
} */

#submit:hover {
    box-shadow: rgb(80, 78, 78) 2px 2px 2px;
    cursor:pointer;

}

@keyframes example {
    0% {background-color: rgba(255, 255, 254, 0.897);}
    50% {background-color: #9b7836;}
    100% {background-color: #ffffff;}
}

button {
    /* background-color: white; */
    animation-name: example;
    animation-duration: 60s;
    background-repeat: repeat;
    margin-left: 48.2%;
    margin-bottom: 2rem;
    padding: .5rem;
    border-radius: .5rem;

}

.weatherbox {
    padding: 10px;
    background-color: #c2b2958f;
    border-right: 20px double rgba(6, 8, 7, 0.527);
    padding-right: 5rem;
    font-size: 20px;
    text-transform: capitalize;
    /* display: flex; */
    justify-content: center;
    text-align: center;

}

#weatherbox {
    color: rgb(0, 0, 0);
    font-weight:bolder;
}

#recipes {
    font-weight:bolder;
}

.recipes {
    padding: 10px;
    background-color: #c2b2958f;
    padding-right: 10rem;
    border-right: 20px double rgb(147, 197, 106);
    font-size: 20px;
    text-transform: capitalize;
    /* display: flex; */
    justify-content: center;
    text-align: center;
}

.cold {
    background-image: repeating-linear-gradient(to bottom right, rgb(64, 60, 131), rgb(158, 235, 248), blue);
}

.headerCold {
    background-image: url("https://media3.giphy.com/media/PkaZUCdVm2c5G/giphy.gif?cid=ecf05e47p4v5v9zwmmzxs823b35448ohja3unlq8iwdzykfi&rid=giphy.gif&ct=g");
    background-size: cover;
    color: rgb(91, 124, 173);
    text-shadow: white 1px 1px;

}

.mild{
    background-image: repeating-linear-gradient(to bottom right, #b16031, rgb(242, 248, 158), rgb(255, 0, 0));
}

.headerMild {
    background-image: url("https://media.giphy.com/media/3ohs7Mss6GTDau1unu/giphy.gif");
    background-size: cover;
    color: #fff;
    text-shadow: green 3px 3px;
}

.hot {
    background-image: repeating-linear-gradient(to bottom right, #F2F4C0, #E4E978, #CAD315);
}

.headerHot {
    background-image: url("https://media.giphy.com/media/1g28Bb7svZ4L1edofy/giphy.gif");
    background-size: cover;
    color: white;
    text-shadow: black 2px 2px;
}

/* #city {
    width: 25%;
    margin-left: 2rem;
} */

fieldset {
    font-size: 20px;
    /* margin-bottom: 1rem;
    border-bottom: 20px double rgb(104, 93, 128); */
    margin-left: 1rem;
}

label {
    font-size: 20px;
    margin-bottom: 1rem;
    color: white;
}

h4 {
    text-decoration: underline;
}

#time {
    font-size: 1.5rem;
}

.headerCity {
    display: flex;
    justify-content: center;
    color: #fff;
}

.inputCity {
    display: flex;
    justify-content: center;
    width: 10%;
    margin-left: 45%;
}

.radioButtons {
    display: flex;
    justify-content: center;
    margin-left: 15%;
    color: white;
}

img {
    max-height: 15%;
}
a {
    color: #161107;
    text-shadow: #cac9c8;
    text-decoration: underline;
}

a:hover {
    color: rgb(253, 209, 87);
}